<% include ../partials/header %>

<div class="container">
    <h1 class="text-center">Create and new Campground</h1>
        <div style="width: 30%; margin: 0 auto;">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="name" name="name"></input>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="img url" name="image"></input>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="descrition" name="description"></input>
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit"></input>
                </div>
            </form>
            <a href="/campgrounds">Back</a>
        </div>

</div>

<% include ../partials/footer %>